@import 'tailwindcss';

@theme {
	--color-background: #181818;
	--color-foreground: #f5f5f5;

	--color-brand: #ff8600;
	--color-brand-glint: #ffa541;
	--color-brand-foreground: #ffffff;
}

/* Always dark mode for now, will do themes later */
/* @layer base {
	@variant dark {
		:root {
			--color-background: #00ff00;
			--color-foreground: #0000ff;
		}
	}
} */

html,
body,
#root {
	@apply bg-background text-foreground h-full w-full;
}

#root {
	@apply flex flex-col;
}

main {
	@apply flex flex-1 flex-col overflow-hidden overflow-y-auto;
}
