@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-background: #fafafa;
	--color-foreground: #20201a;
	--color-outline: #e2e2e2;

	--color-brand: #606dff;
	--color-brand-glint: #939cff;
	--color-brand-foreground: #ffffff;

	--color-danger: #cd412b;
	--color-danger-glint: #f5563d;

	--color-twitch: #9146ff;
	--color-twitch-glint: #a86cff;
	--color-stream-deck: #3531d0;
	--color-stream-deck-glint: #8319d3;

	--animate-blip: blip 0.15s ease-out;
	@keyframes blip {
		0% {
			opacity: 0;
			transform: scale(0.75);
		}
		100% {
			opacity: 1;
			transform: scale(1);
		}
	}

	--animate-fade: fade 01s ease-in-out infinite alternate;
	@keyframes fade {
		0% {
			opacity: 0.25;
		}
		100% {
			opacity: 0.75;
		}
	}
}

/* Always dark mode for now, will do themes later */
@layer base {
	@variant dark {
		color-scheme: dark;
		--color-background: #20201a;
		--color-foreground: #fafafa;
		--color-outline: #3d3d3d;

		--color-stream-deck: #c044ff;
		--color-stream-deck-glint: #284cff;
	}

	* {
		@apply border-[var(--color-outline)];
	}
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
}

html,
body,
#root {
	@apply bg-background text-foreground h-full w-full;
	font-family: 'Reddit Sans', monospace;
}

#root {
	@apply flex flex-col;
}

main {
	@apply flex flex-1 flex-col overflow-hidden overflow-y-auto;
}
